* {
	box-sizing: border-box;
	margin: 0;
}

body {
	height: fit-content;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-between;
}

.gradient {
	margin: 1rem 0;
}

/* To create nicer effects with Conic Gradient, start and finish the gradient with the same color after going through the palett */

.box1 {
	width: 400px;
	height: 400px;
	border-radius: 2rem;
	background-image: conic-gradient(royalblue, lawngreen, royalblue);
}

.box2 {
	width: 400px;
	height: 400px;
	border-radius: 2rem;
	background-image: conic-gradient(
		dodgerblue,
		crimson,
		gold,
		olivedrab,
		dodgerblue
	);
}

.box3 {
	width: 400px;
	height: 800px;
	border-radius: 2rem;
	background-image: conic-gradient(
		from 30deg at 30% 40%,
		gold,
		firebrick,
		blue,
		gold
	);
}

.box4 {
	width: 400px;
	height: 400px;
	border-radius: 2rem;
	background-image: conic-gradient(
		from 90deg at 70% 80%,
		red 90deg,
		blue 180deg,
		green 270deg,
		red
	);
}
