body {
	font-family: 'Cantarell';
}
.bg-img {
	background-image: url('../img/nyc-avenue.jpg');
	background-size: cover;
	background-position: bottom;
}

.above-fold {
	background-color: #ffffff44;
	height: 100vh;
	display: flex;
	flex-flow: row wrap;
	align-content: space-around;
	text-align: center;
}
.above-fold > * {
	width: 100%;
}
.site-title,
.headline {
	text-transform: uppercase;
	margin-bottom: 1rem;
}
.headline {
	font-size: 6vw;
}
.site-title {
	color: #2d2d2d;
	font-size: 7.5vw;
	font-weight: bold;
}
.headline-wrapper {
	background-color: #00000055;
	color: #f0f8ff;
	padding: 1.5rem 0;
}

.main-message {
	font-variant: small-caps;
	font-size: 4vw;
}
.btn-wrapper {
	display: flex;
	justify-content: center;
}
.cta-btn {
	width: auto;
	padding: 1rem 2rem;
	border-radius: 2rem;
	background-color: #f0f8ff;
	color: #444;
	transform: scale(1);
	transition: ease-in-out 0.05s;
	font-size: 1.5rem;
}

.cta-btn:hover {
	background-color: #444;
	color: #f0f8ff;
	box-shadow: 0 0 15px #fff;
	transform: scale(1.2);
	transition: ease-in-out 0.05s;
}

/* Navigation Styling */
.nav-bar {
	background-color: #00000055;
	color: #f0f8ff;
	position: fixed;
	top: 0;
	left: 0;
	/* Because 'position' is set to 'fixed', the element is out of the normal document flow, so it doesn't know how to size itself. You need to specify 'height' and 'width'. */

	height: 3rem; /* MOBILE */
	width: 100%;
	display: flex;
	justify-content: center; /* MOBILE */
}
.menu {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: fit-content;
	display: none; /* MOBILE */
}
.menu-item {
	padding: 0.5rem 1.5rem;
	margin: 0 0.2rem;
	border-radius: 5px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
}
.menu-item:hover {
	background-color: #dddddd55;
	color: #555;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
}
.logo {
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	font-variant: small-caps;
}
.logo-icon {
	margin: 0 1rem;
	font-size: 1.1rem;
	display: none; /* MOBILE */
}

.content {
	height: 150vh;
}

/* MOBILE MENU */
.mobile-menu {
	background-color: #2d2d2d;
	color: #f0f8ff;
}
.mobile-menu-item {
	border-radius: 5px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
}
.mobile-menu-item:nth-child(n + 2) {
	border-top: 1px solid #aaa;
}
.mobile-menu-item:hover {
	background-color: #dddddd55;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	color: #333;
}
.mobile-anchor {
	padding: 0.8rem 0;
	display: flex;
	font-size: 1.5rem;
}
.mobile-menu-icon {
	margin: 0 1.5rem;
	font-size: 1rem;
}
