* {
	box-sizing: border-box;
}

.box {
	color: white;
	font-size: 100px;
	text-align: center;
	text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
	padding: 10px;
}

/*
.box01 {background: #1abc9c;}
.box02 {background: #3498db;}
.box03 {background: #9b59b6;}
.box04 {background: #34495e;}
.box05 {background: #f1c40f;}
.box06 {background: #e67e22;}
.box07 {background: #e74c3c;}
.box08 {background: #bdc3c7;}
.box09 {background: #2ecc71;}
.box10 {background: #16a085;}
*/

.box01 {
	background: #1abc9c;
}
.box02 {
	background: #3498db;
}
.box03 {
	background: #9b59b6;
}
.box04 {
	background: #34495e;
}
.box05 {
	background: #f1c40f;
}
.box06 {
	background: #e67e22;
}
.box07 {
	background: #e74c3c;
}
.box08 {
	background: #bdc3c7;
}
.box09 {
	background: #2ecc71;
}
.box10 {
	background: #16a085;
}

.container {
	display: flex;
	border: 10px solid goldenrod;
	height: 100vh;
	/* flex-direction: row; DEFAULT VALUE */
	/* flex-direction: row-reverse; */
	/* flex-direction: column; */
	/* flex-direction: column-reverse; */
	/* flex-wrap: nowrap; DEFAULT VALUE */
	/* flex-wrap: wrap; */
	/* flex-wrap: wrap-reverse; */
	flex-flow: row wrap; /* shorthand for flex-direction and flex-wrap */
}

.box {
	flex: 1 1 300px;
}

/* With the 'order' property is possible to completly rearrange the items */
/* It takes an integer value and orders the items from smaller to largest */
/* The default order value of each item is 0 */

.box01 {
	order: 6;
}
.box02 {
	order: 3;
}
.box03 {
	order: 8;
}
.box04 {
	order: 1;
}
.box05 {
	order: 2;
}
.box06 {
	order: -4;
}
.box07 {
	order: -6;
}
.box08 {
	order: 11;
}
.box09 {
	order: 5;
}
.box10 {
	order: 7;
}
