html {
	scroll-behavior: smooth; /* THIS IS AWESOME! */
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
	width: 1000px;
	border: 10px solid #bbb;
	font-size: 150%;
	margin: 0 auto;
}

.google {
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}

.menu {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.menu li {
	list-style: none;
	border: 1px solid #bbb;
	margin: 1rem;
	border-radius: 5px;
	display: flex;
	align-items: stretch;
}

.menu a {
	padding: 1rem;
	text-decoration: none;
	color: #555;
}

.menu a:hover {
	background-color: lightskyblue;
	color: whitesmoke;
}

h1 {
	background-color: dodgerblue;
	color: whitesmoke;
	text-align: center;
	font-variant: small-caps;
	line-height: 1.5em;
}

a[href='#top'] {
	display: block;
	text-align: center;
}

a[href='#top'] + p {
	padding: 0 2rem;
	color: #555;
}
