* {
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15vw;
	font-family: 'Fira Mono', sans-serif;
}

.wrapper {
	display: flex;
	flex-grow: 1;
	max-width: 80vw;
}

.part {
	border: 1px solid hotpink;
	height: 20vw;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn {
	flex-grow: 1;
	background-color: pink;
}
.btn:hover {
	background-color: crimson;
}

.plus {
	border-bottom-right-radius: 5vw;
	border-top-right-radius: 5vw;
}
.minus {
	border-bottom-left-radius: 5vw;
	border-top-left-radius: 5vw;
}

.counter {
	flex-grow: 2;
}
