* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  color: #aaa;
}

.controls {
  background-color: #f1f1f1;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.btn,
.box {
  background-color: #fafafa;
  border: none;
  box-shadow: -3px -3px 5px 1px #fff, 1px 1px 5px -2px #fff inset,
    2px 2px 2px 1px #fafafa inset, 3px 3px 10px 0 #afafaf,
    -1px -1px 5px 0 #afafaf inset;
}

.box {
  width: 100%;
  height: fit-content;
  margin: 1rem 2rem;
  border-radius: 1rem;
  padding: 2rem;
}

.sect-title {
  font-variant: small-caps;
  margin-bottom: 1rem;
}

.btn {
  font-size: 2rem;
  font-weight: bold;
  color: #aaa;
  width: 6rem;
  height: 6rem;
  /* padding: 1rem; */
  margin: 1rem 2rem;
  border-radius: 2rem;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  flex-grow: 1;
}

.btn:hover {
  box-shadow: -2px -2px 5px 2px #fff, 1px 1px 5px -2px #fff inset,
    2px 2px 7px -1px #aaa inset,
    /* 1px 1px 5px 0px #555, */ 3px 3px 8px -1px #afafaf,
    -4px -4px 5px 1px #fff inset, -2px -2px 5px 1px #fff inset;
  font-size: 1.5rem;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
}

.icon {
  width: 80%;
  height: 100%;
  border: 2px solid hotpink;
}

.btn-char {
  border: 2px solid blue;
  height: 100%;
  display: flex;
  /* border-radius: 0.8rem; */
}
