* {
	margin: 0;
	box-sizing: border-box;
}

.container {
	border: 5px solid hotpink;
	display: flex;
	flex-flow: row wrap;
	height: 100vh;
	align-content: flex-start;
}

.box {
	display: flex;
	width: 80px;
	height: 80px;
	background: yellowgreen;
	border: 2px solid blue;
	margin: 5px;
	flex-grow: 1;
}

.text {
	width: 100%;
	text-align: center;
	align-self: center;
	font-size: 2rem;
}

.box:nth-child(2) {
	flex-grow: 10;
	/* width: 100%; */
}

/* .box:nth-child(even) {
	flex-shrink: 10;
} */
