/* (3) Write some CSS that has two rules applying to the same element. The first rule should use an element selector and the second rule should use a class. Calculate the CSS specificity of each rule to explain which rule won. */

ul {
    border: 10px dashed black;
}

.gamma {
    border: 5px solid hotpink;
}