.container {
	border: 5px solid hotpink;
	display: flex;
	flex-flow: row wrap;
	height: 80vh;
	/* align-items: flex-end; */
}

.box {
	display: flex;
	width: 80px;
	height: 80px;
	background: yellowgreen;
	border: 2px solid blue;
	margin: 5px;
}

.box:nth-child(4) > .text {
	align-self: center;
	width: 100%;
	text-align: center;
	border: 1px solid red;
}

.box:nth-child(odd) {
	order: 0; /* the odd children of .container will come before elements with unset value for the 'order' flex property  */

	/* 'order = 0' means DEFAULT order (the one from the HTML document)  */
	/* 'order < 0' means it will come BEFORE elements with order unset */
	/* 'order > 0' menas it will come AFTER elements with order unset */
}
