.bg-img {
	background-image: url('../img/nyc-binoculars.jpg');
	background-position: 0 50%;
}

.site-title {
	text-align: right;
	background-color: #00000055;
	padding: 5rem 0.5em;
}

.headline-wrapper {
	background-color: unset;
	color: #444;
}

.cta-btn {
	margin-top: 3rem;
}

.headline-wrapper {
	text-align: right;
	padding-right: 10vw;
}
