* {
	box-sizing: border-box;
	margin: 0;
}

body {
	width: 80%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	/* height: 100vh; */
	font-family: 'Lato', sans-serif;
	font-size: 2rem;
	color: #777;
	font-variant: small-caps;
}
h1 {
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;
}

.checked {
	width: 40%;
	fill: transparent;
	stroke: firebrick;
}
.checked:hover {
	fill: pink;
}
.c01 {
	stroke-width: 0.2%;
}
.c02 {
	stroke-width: 0.4%;
}
.c03 {
	stroke-width: 0.8%;
}
.c04 {
	stroke-width: 1.6%;
	fill: pink;
}
.c04:hover {
	fill: crimson;
	stroke: maroon;
	stroke: darkolivegreen;
}
