* {
	box-sizing: border-box;
	margin: 0;
}

body {
	width: 80%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	height: 100vh;
	font-family: 'Lato', sans-serif;
	font-size: 2rem;
	color: #777;
	font-variant: small-caps;
}
h1 {
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;
}

.checked {
	width: 100%;
	stroke-width: 0.3%;
}

.c01 {
	fill: darkkhaki;
	stroke: black;
	color: darkslategray;
}
.c01:hover {
	fill: darkslategray;
}
