div {
    /*width: 100px;*/
    height: 100px;
    border: 1px solid red;
}

img {
    border: 15px groove hotpink;
}

.dogone {
    border: 15px solid hotpink;
}

.dogtwo {
    border: 15px dashed hotpink;
}

.dogthree {
    border: 15px dotted hotpink;
}