* {
	box-sizing: border-box;
	margin: 0;
}

body {
	height: 150vh;
}

.fixed-footer {
	height: 10vh;
	width: 100%;
	background: rgba(255, 99, 71, 0.7);
	border: 5px solid darkred;
	position: fixed;
	bottom: 0;
}

.box {
	margin: 5vh auto;
	height: 20vh;
	width: 20vh;
	background: olivedrab;
	border: 5px solid darkgreen;
}
