/* body {
    display: flex;
} */

body>header, body>footer, nav, article, aside, section {
    border: 5px solid red;
    padding: 10px;
    margin: 10px;
}

nav>header, article>header {
    border: 5px solid red;
    padding: 10px;
}

nav {
    width: 20%;
}

article {
    width: 60%;
}

aside {
    width: 20%;
}