* {
	margin: 0;
	padding: 0;
}

svg {
	border: 2px solid hotpink;
	width: 150px;
}

.icons {
	color: #aaa; /* 'fill' is not working; don't know why */
	stroke: blue;
	stroke-width: 15px;
	stroke-opacity: 0.3;
}

.social-media {
	color: #3d8341;
	opacity: 0.5;
}

.social-media:hover {
	opacity: 1;
}
