* {
	margin: 0;
	padding: 0;
}

svg {
	border: 2px solid hotpink;
	width: 150px;
}

.icons {
	fill: #aaa;
	stroke: blue;
	stroke-width: 15px;
	stroke-opacity: 0.3;
}
.icons:hover {
	fill: #888;
	stroke: none;
}

.social-media {
	fill: #3d8341;
	opacity: 0.5;
}

.social-media:hover {
	opacity: 1;
}
