* {
	box-sizing: border-box;
	margin: 0;
}

html {
	font-size: 1.3rem;
	font-variant: small-caps;
	color: #fff;
	font-family: sans-serif;
}

body {
	height: 200vh;
	display: flex;
	align-items: flex-start;
}

button {
	background-color: unset;
	border: unset;
	font-size: inherit;
	font-family: inherit;
	font-variant: inherit;
	color: inherit;
}

.menu {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-grow: 1;
	/* border: 2px solid hotpink; */
	background-color: rgba(70, 131, 180, 0.7);
	position: fixed;
	width: 100%;
	box-shadow: 0 0 10px 5px #aaaaaaaa;
}

.menu-list {
	list-style: none;
	padding: 0;
	display: flex;
}

.menu-item,
.settings {
	text-align: center;
	padding: 0.2rem 0.5rem;
	border-bottom: 0.1rem solid transparent;
	width: 100px;
	line-height: 2em;
}

.menu-item:hover,
.settings:hover {
	border-bottom: 0.1rem solid #fff;
}

.menu-item,
.menu-item:hover {
	transition-property: border;
	transition-duration: 200ms;
	transition-timing-function: ease-in;
}

.hero {
	height: 100vh;
	width: 100%;
	background-image: url('img/close-up-control-controller-1579240.jpg');
	background-size: cover;
	background-position: 50%;
	background-attachment: fixed;
}

.icon {
	height: 2rem;
	margin: 0 0.8rem;
}

.wrapper {
	display: flex;
	align-items: center;
}
