* {
	box-sizing: border-box;
	margin: 0;
}

html,
body {
	font-size: 120%;
	font-family: 'Lato', sans-serif;
}

.test-form {
	border: 2px solid hotpink;
	background-color: lightpink;
	margin: 1rem 0;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.test-form * {
	width: 100%;
}

.form-label {
	width: 80%;
	padding: 0.5rem 0;
	border: 2px solid rebeccapurple;
}
.txt-input-field {
	padding: 0.5rem 0.3rem;
	font-size: 0.9rem;
	color: #b2222277;
}
