body {
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.blockquote {
	border: 2px solid black;
}

.inline-quote {
	color: red;
	font-weight: bold;
	font-style: italic;
}

.citation {
	text-decoration: underline;
	color: fuchsia;
}
