* {
	box-sizing: border-box;
}

.box {
	border: 5px solid goldenrod;
	font-size: 100px;
	text-align: center;
	text-shadow: 4px 4px 0 #0000001a;
	padding: 10px;
}

.container {
	display: flex;
	border: 10px solid mistyrose;
}

.box01 {
	flex: 1 1 200px;
}

.box04 {
	flex: 0 1 200px;
}
