/* Resets */

* {
	box-sizing: border-box;
	margin: 0;
}

.wrapper,
.border {
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper {
	height: 100vh;
}

.border {
	height: 500px;
	width: 500px;
	padding: 100px;
	border-radius: 50%;
	box-shadow: 2px 2px 15px #00000022;
}
.border:hover {
	background-color: lightcyan;
	color: white;
}

.icon {
	height: 100%;
	color: lightblue;
}
